<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tambah Keluarga - Sistem Informasi Kependudukan -
	Pemerintahan Provinsi DKI Jakarta</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/penduduk">Penduduk</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/keluarga">Keluarga</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/penduduk/cari">Cari
						Data</a></li>
			</ul>

			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
					Search</button>
			</form>
		</div>
	</nav>


	<div class="content keluarga">
		<div class="breadcrumbs"></div>
		<h1>
			<center>Tambah Keluarga</center>
		</h1>
		<form class="inputAction add" action="/keluarga/tambah/submit"
			method="post">
			<h3>
				<center>Masukkan Data Keluarga</center>
			</h3>

			<center>
				<label for="alamat">Alamat Keluarga</label>
			</center>
			<center>
				<input type="text" required="required" name="alamat"
					placeholder="Masukkan Alamat Keluarga" />
			</center>
			<br></br>
			<center>
				<label for="rt">RT:</label>
			</center>
			<center>
				<input type="number" required="required" name="rt"
					placeholder="Masukkan RT Alamat Keluarga" />
			</center>
			<br></br>
			<center>
				<label for="rw">RW:</label>
			</center>
			<center>
				<input type="number" required="required" name="rw"
					placeholder="Masukkan RW Alamat Keluarga" />
			</center>
			<br></br>
			<center>
				<label for="id_kelurahan">Kelurahan (Akan Otomatis Memilih
					Kecamatan &amp; Kota)</label>
			</center>
			<center>
				<select name="id_kelurahan" required="required">
					<option disabled="disabled" selected="selected">Pilih
						Salah Satu Kelurahan Dibawah Ini</option>
					<option th:each="kelurahan,iterationStatus: ${daftarKelurahan}"
						th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}">Nama
						Kelurahan</option>
				</select>
			</center>
			<br></br>
			<center>
				<button type="submit">
					<span class="icon-penduduk-add"></span> Tambah
				</button>
			</center>
		</form>
	</div>
</body>
</html>